.app {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  max-width: 50rem;
  min-height: 100vh;
  margin: 0 auto;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters_order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}