.task_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task {
    height: 8rem;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .1);
}