.task_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task {
    position: relative;
    display: grid;
    grid-template-columns: min-content 45% 30% 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    height: 11rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .1);
    font-size: 1rem;
    font-weight: 500;
}

.description {
    max-width: 100%;
    height: 100%;
    overflow: auto;
    font-weight: 500;
    justify-self: start;
}

.dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.creation_date {
    position: absolute;
    right: 1rem;
    color: var(--grey-dark);
    font-weight: 400;
}

.dueDate {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: start;
    justify-content: start;
}

.bg_onTime {
    border-left: 1rem solid var(--blue);

}

.bg_almostExpired {
    border-left: 1rem solid var(--yellow);
}

.bg_expired {
    border-left: 1rem solid var(--red);
}

.stateIcon__done {
    color: var(--blue);
}

.stateIcon__pending {
    color: var(--grey-dark);
}

.stateIcon__expired {
    color: var(--red);
}

input[type=date] {
    font-family: var(--font-primary);
    font-size: 1rem;
}

input[type=checkbox] {
    width: 1.2rem;
}

div svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    font-size: 1.8rem;
}

@media only screen and (min-width: 450px) {

    /* For desktop: */
    .task {
        display: grid;
        grid-template-columns: 5% 45% 40% max-content;
        align-items: center;
        justify-items: center;
        gap: .75rem;
        height: 10rem;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, .1);
        font-size: 1.2rem;
    }

    .dueDate {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: .5rem;
    }

    svg {
        font-size: 2.25rem;
    }

}