@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --black: #1e2d49;
  --white: #fff;
  --blue: #026aa7;
  --red: #e4544a;
  --grey: #ebecf0;
  /* Fonts */
  --font-primary: 'Noto Sans', sans-serif;
  /* Utilities */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: var(--grey);
}